.topnav {
  overflow: hidden;
  background-color: var(--color-gray-dark);
  position: relative;
  width: 100%;
}

.navbar{
  height: 60px;
  padding: 0 1.5rem;
  border-bottom: 2px solid var(--color-gray-light);
  background-color: var(--color-gray-nav);
}

.topnav a {
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.topnav a:hover{
  color: var(--color-gray-light);
}

.logonav{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1.5rem !important;
}

.topnav #hambutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
  width: 60px;
}

.topnav #hambutton span{
  width: 35px;
  height: 5px;
  border-radius: 4px;
  background-color: var(--color-gray-light);
  margin: 4px 0;
  transition: 0.4s;
}

.topnav #hambutton.active span:first-of-type{
  -webkit-transform: rotate(-45deg) translate(-9px, 10px);
  transform: rotate(-45deg) translate(-9px, 10px);
  background-color: var(--color-red);
}

.topnav #hambutton.active span:nth-of-type(2){
  opacity: 0;
}

.topnav #hambutton.active span:last-of-type{
  -webkit-transform: rotate(45deg) translate(-8px, -10px);
  transform: rotate(45deg) translate(-8px, -10px);
  background-color: var(--color-red);
}

.topnav #collapsenav {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 60px);
}

.topnav #collapsenav.active{
  display: flex;
}

.topnav #collapsenav ul{
  display: flex;
  list-style: none;
}

.topnav #collapsenav .linkspagesnav{
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
}

.topnav #collapsenav .linkspagesnav li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% / 3);

  font-weight: 700;
  font-size: 1.5rem;

  border-bottom: 1px solid var(--color-gray-light);
}

.topnav #collapsenav .linkspagesnav li a{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  height: 100%;
  width: 100%;
}

.topnav #collapsenav .linkspagesnav li.active span{
  height: 10px;
  border-radius: 10px;
  width: 60%;
  background-color: var(--color-yellow);
}

.topnav #collapsenav .linkspagesnav li a:hover{
  filter: brightness(0.7);
}

.topnav #collapsenav .linkspagesnav li a svg{
  margin-right: 20px;
}

.topnav #collapsenav .linkspagesnav li:last-of-type{
  border-bottom: none;
}

.topnav #collapsenav .linkedingithubnav{
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 2px solid var(--color-gray-light);
}

.topnav #collapsenav .linkedingithubnav li{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 60px;
}

.topnav #collapsenav .linkedingithubnav li svg{
  height: 40px;
  width: 40px;
}