
.topnav {
  overflow: hidden;
  background-color: var(--color-gray-dark);
  position: relative;
  width: 100%;
}

#navbar{
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 1.5rem;
  border-bottom: 2px solid var(--color-gray-light);
  background-color: var(--color-gray-nav);
}

#navbar.active{
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a {
  text-decoration: none;
  display: block;
  cursor: pointer;
  color: var(--color-gray-light);
}

.topnav a:hover{
  color: var(--color-gray-light);
}

.logonav{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1.5rem !important;
}

.topnav #hambutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
  width: 60px;
}

.topnav #hambutton span{
  width: 35px;
  height: 5px;
  border-radius: 4px;
  background-color: var(--color-gray-light);
  margin: 4px 0;
  transition: 0.4s;
}

.topnav #hambutton.active span:first-of-type{
  -webkit-transform: rotate(-45deg) translate(-9px, 10px);
  transform: rotate(-45deg) translate(-9px, 10px);
  background-color: var(--color-red);
}

.topnav #hambutton.active span:nth-of-type(2){
  opacity: 0;
}

.topnav #hambutton.active span:last-of-type{
  -webkit-transform: rotate(45deg) translate(-8px, -10px);
  transform: rotate(45deg) translate(-8px, -10px);
  background-color: var(--color-red);
}

.topnav #collapsenav {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 60px);
}

.topnav #collapsenav.active{
  display: flex;
  position: fixed;
  top: 60px;
  background-color: var(--color-gray-dark);
  width: 100%;
}

.topnav #collapsenav ul{
  display: flex;
  list-style: none;
}

.topnav #collapsenav .linkspagesnav{
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
}

.topnav #collapsenav .linkspagesnav li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% / 3);

  font-weight: 700;
  font-size: 1.5rem;

  border-bottom: 1px solid var(--color-gray-light);
}

.topnav #collapsenav .linkspagesnav li a{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1.5rem;
  transition: 0.4s;
  height: 100%;
  width: 100%;
}

.topnav #collapsenav .linkspagesnav li.active span{
  height: 10px;
  border-radius: 10px;
  width: 100%;
  background-color: var(--color-yellow);
}

.topnav #collapsenav .linkspagesnav li a:hover{
  filter: brightness(0.7);
}

.topnav #collapsenav .linkspagesnav li a svg{
  margin-right: 20px;
}

.topnav #collapsenav .linkspagesnav li:last-of-type{
  border-bottom: none;
}

.topnav #collapsenav .linkedingithubnav{
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 2px solid var(--color-gray-light);
}

.topnav #collapsenav .linkedingithubnav li{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100px;
}

.topnav #collapsenav .linkedingithubnav li svg{
  height: 60px;
  width: 60px;
}

@media(min-width: 1024px){
  .topnav{
    position: relative;
  }

  .topnav #navbar{
    height: 80px;
    padding: 0 2rem;
  }

  .topnav #navbar #hambutton{
    display: none;
  }

  .topnav #navbar .logonav{
    font-size: 2rem !important;
  }

  .topnav #collapsenav{
    position: absolute;
    top: 0;
    right: 2rem;
    display: flex;
    flex-direction: row;
    height: 80px;
  }

  .topnav #collapsenav .linkspagesnav{
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .topnav #collapsenav .linkspagesnav li{
    border-bottom: none;
    height: 80px;
  }

  .topnav #collapsenav .linkspagesnav li a{
    font-size: 1.25rem;
    padding: 0 15px;
  }

  .topnav #collapsenav .linkspagesnav li.active span{
    width: 100%;
  }

  .topnav #collapsenav .linkspagesnav li a svg{
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }


  .topnav #collapsenav .linkedingithubnav{
    border-top: none;
    margin-left: 32px;
  }

  .topnav #collapsenav .linkedingithubnav li{
    width: 100px;
    height: 80px;
  }

  .topnav #collapsenav .linkedingithubnav li svg{
    height: 50px;
    width: 50px;
  }

}

@media(min-width: 1200px){
  .topnav #collapsenav .linkspagesnav li a{
    padding: 0 30px;
  }
}