.perfil{
  margin: 1.25rem 0 0;
  padding: 1.25rem;
}

.perfil p{
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: justify;
  margin: 0.5rem 0 0;
}

.perfil {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--color-gray-light);
}

.perfil  .fotoperfil{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.perfil  .fotoperfil img{
  width: 150px;
  border-radius: 50%;
}

.perfil  .infocontent{
  margin-top: 1.25rem;
}

.perfil  .infocontent h1{
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
}

.perfil  .infocontent p:first-of-type{
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  margin: 0.25rem 0 0;
}

.perfil  .infocontent h2{
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  margin: 1rem 0 0.25rem;
}

@media(min-width: 1024px){
  .perfil p{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .perfil {
    align-items: flex-start;
    flex-direction: row;
    padding-bottom: 2rem;
  }

  .perfil  .fotoperfil{
    align-items: flex-start;
    height: auto;
    width: 200px;
    margin: 0.5rem 0 0;
  }

  .perfil  .fotoperfil img{
    width: 200px;
  }

  .perfil  .infocontent{
    margin: 0 0 0 2.5rem;
  }

  .perfil  .infocontent h1{
    font-size: 3rem;
    text-align: left;
  }

  .perfil  .infocontent p:first-of-type{
    font-size: 1rem;
    text-align: left;
  }

  .perfil  .infocontent h2{
    font-size: 1.75rem;
    text-align: left;
    margin: 1.5rem 0 0.5rem;
  }
}